li.MuiButtonBase-root {
    color: white;
}
table.MuiTable-root th {
    color: white !important;
}
table.MuiTable-root td {
    color: white !important;
}
.leftMenu {
    background: #ffffff59;
}
.leftMenu li{
    border-bottom: 1px solid #ccc;
}
