li.MuiButtonBase-root {
    color: white;
}
table.MuiTable-root th {
    color: white !important;
}
table.MuiTable-root td {
    color: white !important;
}
.leftMenu {
    background: #ffffff59;
}
.leftMenu li{
    border-bottom: 1px solid #ccc;
}
.MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded h2 {
    text-align: center;
    padding-top: 35px;
}
.btn-table .info {
    margin-left:  20px;
}