#sidebarToggle{
    width: 30px;
}

#mysearchbtn {
    margin: 0 !important;
    background: transparent;
    right: 50px;
}

.form-control:focus{
    border-color: rgb(168, 29, 29) !important;
    box-shadow: 0 0 0 0.2rem rgb(168, 29, 29) !important;
}
.input-group-append {
    background: transparent;
}

.nav-link{
    color: #888 !important;

}
input.form-control {
    background: transparent !important;
    border: 2px solid #888 !important;
}
img.logo{
    padding-left: 50px;
}