#sidebarToggle{
    width: 30px;
}

#mysearchbtn{
    margin: 0 !important;
}
a{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.form-control:focus{
    border-color: rgb(168, 29, 29) !important;
    box-shadow: 0 0 0 0.2rem rgb(168, 29, 29) !important;
}