#register {
  background: url('https://images.alphacoders.com/905/thumb-1920-905859.jpg');
  background-size: cover;
  background-position: right;
}
main.MuiContainer-root.MuiContainer-maxWidthXs {
  background: #000000b5;     padding-bottom: 30px;
}
a{
  color: white !important;
}